astral
psycopg2
Django
django-jinja
django-reversion
django-widget-tweaks
celery
html5lib
rdflib-jsonld
newspaper3k
rdflib
PyYAML
Shapely
SPARQLWrapper
python-dateutil
Jinja2
django-filter
social-auth-app-django
