{% extends "base.html" %}

{% set annotation = accident.annotation %}

{% set title = annotation.title or 'Incident' %}
{% set description = annotation.description or '' %}

{% block container %}

<h1 hidden>Incident</h1>

{% if accident.location -%}
    <div class="pure-g">
        <div class="accident-detail-map map pure-u-1" data-lon="{{ accident.location.0 }}" data-lat="{{ accident.location.1 }}"></div>
    </div>
{% endif -%}
<div class="container">

    {% if accident.record_state_id != 0 or editedaccident %}
        <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            Source: <span title="{{ accident.record_state.description }}">{{ accident.record_state.label }}</span>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            {% if  editedaccident and  editedaccident.moderation_status is none %}
                <form method="post">{% csrf_token %}
                    <input type="submit" name="approve" value="Approve" class="pure-button pure-button-primary">
                    <input type="submit" name="reject" value="Reject" class="pure-button">

                </form>
            {% endif %}
        </div>
    {% endif %}

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <table class="pure-table accident-detail">
                <tbody>
                <tr>
                    <th>When</th>
                    <td>{{ accident.date_and_time if accident.date_and_time else accident.date }}</td>
                </tr>
                <tr>
                    <th>Police attended?</th>
                    <td>{{ "yes" if accident.police_attended else "no" }}</td>
                </tr>
                {% if accident.solar_elevation -%}
                    <tr>
                        <th>Solar elevation</th>
                        <td>{{ accident.solar_elevation|round|int }}° ({% if accident.solar_elevation < -6 %}night{% elif accident.solar_elevation < 0 %}dawn or dusk{% else %}day{% endif %})</td>
                    </tr>
                {% endif -%}
                <tr>
                    <th>Light conditions</th>
                    <td>{{ accident.light_conditions.label|default("unknown") }}</td>
                </tr>
                <tr>
                    <th>Weather</th>
                    <td>{{ accident.weather.label|default("unknown") }}</td>
                </tr>
                <tr>
                    <th>Road type</th>
                    <td>{{ accident.road_type.label|default("unknown") }}</td>
                </tr>
                <tr>
                    <th>Pedestrian crossing (human)?</th>
                    <td>{{ accident.pedestrian_crossing_human.label|default("unknown") }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <table class="pure-table accident-detail">
                <tbody>
                <tr>
                    <th>Junction?</th>
                    <td>{{ accident.junction_detail.label|default("unknown") }}{% if accident.junction_control and accident.junction_control.id != 0 %}<br>
                        {{ accident.junction_control.label }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Severity</th>
                    <td>{{ accident.severity.label }}</td>
                </tr>
                <tr>
                    <th>Involved</th>
                    <td>{{ accident.number_of_vehicles }} vehicle{{ "s" if accident.number_of_vehicles > 1 else "" }}, and {{ accident.number_of_casualties }} casualt{{ "ies" if accident.number_of_casualties > 1 else "y" }}</td>
                </tr>
                <tr>
                    <th>Carriageway hazards</th>
                    <td>{{ accident.carriageway_hazards.label|default("unknown") }}</td>
                </tr>
                <tr>
                    <th>Special conditions at site</th>
                    <td>{{ accident.special_conditions.label|default("unknown") }}</td>
                </tr>
                <tr>
                    <th>Speed limit</th>
                    <td>{% if accident.speed_limit %}{{ accident.speed_limit }} mph{% else %}unknown{% endif %}</td>
                </tr>
                <tr>
                    <th>Pedestrian crossing (physical)?</th>
                    <td>{{ accident.pedestrian_crossing_physical.label|default("unknown") }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <table class="vehicles pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>N°</th>
            <th>Type</th>
            <th>Detail</th>
            <th>People</th>
        </tr>
        </thead>
        <tbody>{% for vehicle in accident.all_vehicles or accident.vehicles.all() %}
        <tr class="vehicle">
            <th class="vehicle-ref">{{ vehicle.vehicle_ref }}</th>
            <td class="vehicle-type">
                {% if vehicle.type.fontAwesome -%}
                    <i title="{{ vehicle.type.label }}" class="fa fa-{{ vehicle.type.fontAwesome }} fa-2x"> </i>
                {% else -%}
                    {{ vehicle.type.label }}
                {% endif -%}
            </td>
            <td class="vehicle-detail">
                <table class="pure-table-bordered">
                    {% if vehicle.make %}<tr>
                        <th>Make{% if vehicle.model %} and model{% endif %}</th>
                        <td>{{ vehicle.make }}{% if vehicle.model %} {{ vehicle.model }}{% endif %}</td>
                    </tr>{% endif %}
                    {% if vehicle.location and vehicle.location.id != 0 %}<tr>
                        <th>Location</th>
                        <td>{{ vehicle.location.label }}</td>
                    </tr>{% endif %}
                    {% if vehicle.towing_and_articulation and vehicle.towing_and_articulation.id != 0 %}<tr>
                        <th>Towing and articulation</th>
                        <td>{{ vehicle.towing_and_articulation.label }}</td>
                    </tr>{% endif %}
                    {% if vehicle.junction_location and vehicle.junction_location.id != 0 %}<tr>
                        <th>Junction location</th>
                        <td>{{ vehicle.junction_location.label }}</td>
                    </tr>{% endif %}
                    {% if vehicle.manoeuvre and vehicle.manoeuvre.id != 18 %}<tr>
                        <th>Manoeuvre</th>
                        <td>{{ vehicle.manoeuvre.label }}</td>
                    </tr>{% endif %}
                    {% if vehicle.skidding_and_overturning and vehicle.skidding_and_overturning.id != 0 %}<tr>
                        <th>Skidding and overturning?</th>
                        <td>{{ vehicle.skidding_and_overturning.label }}</td>
                    </tr>{% endif %}
                    {% if vehicle.leaving_carriageway and vehicle.leaving_carriageway.id != 0 %}<tr>
                        <th>Left carriageway?</th>
                        <td>{{ vehicle.leaving_carriageway.label }}</td>
                    </tr>{% endif %}
                    {% if vehicle.first_point_of_impact and vehicle.first_point_of_impact.id != 0 %}<tr>
                        <th>1<sup>st</sup> point of impact</th>
                        <td>{{ vehicle.first_point_of_impact.label }}</td>
                    </tr>{% endif %}
                    {% if ((vehicle.hit_object_in_carriageway and vehicle.hit_object_in_carriageway.id != 0) or
       (vehicle.hit_object_off_carriageway and vehicle.hit_object_off_carriageway.id != 0)) -%}
                        <tr>
                            <th>Hit object?</th>
                            <td>
                                {% if vehicle.hit_object_in_carriageway and vehicle.hit_object_in_carriageway.id != 0 -%}
                                    {{ vehicle.hit_object_in_carriageway.label }}
                                {% endif -%}
                                {% if ((vehicle.hit_object_in_carriageway and vehicle.hit_object_in_carriageway.id != 0) and
       (vehicle.hit_object_off_carriageway and vehicle.hit_object_off_carriageway.id != 0)) -%}<br>{% endif %}
                                {% if vehicle.hit_object_off_carriageway and vehicle.hit_object_off_carriageway.id != 0 -%}
                                    {{ vehicle.hit_object_off_carriageway.label }}
                                {% endif -%}                        </td>
                        </tr>{% endif %}
                </table>
            </td>
            <td>
                <table class="pure-table-bordered">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Severity</th>
                        <th>Class</th>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set casualties = vehicle.all_casualties or vehicle.casualties.all() -%}
                    {% set involvedDriver -%}
                    {% for casualty in casualties -%}
                        {% if casualty.casualty_class.id == 1 -%}1{% endif -%}
                    {% endfor -%}
                    {% endset %}
                    {% if not involvedDriver -%}
                        <tr>
                            <th></th>
                            <td>uninjured</td>
                            <td>driver or rider</td>
                            <td>{{ vehicle.driver_sex.label|default("unknown") }}</td>
                            <td>{{ vehicle.driver_age if vehicle.driver_age is not none else vehicle.driver_age_band.label or '' }}</td>
                            <td></td>
                        </tr>{% endif %}
                    {% for casualty in casualties %}
                        <tr>
                            <th>{{ casualty.casualty_ref }}</th>
                            <td>{{ casualty.severity.label }}</td>
                            <td>{{ casualty.casualty_class.label }}</td>
                            <td>{{ casualty.sex.label|default("unknown") }}</td>
                            <td>{{ casualty.age if casualty.age is not none else casualty.age_band.label or '' }}</td>
                            <td>{% if casualty.type.id == 0 %}
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>Pedestrian location</th>
                                        <td>{{ casualty.pedestrian_location.label if casualty.pedestrian_location else '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Pedestrian movement</th>
                                        <td>{{ casualty.pedestrian_movement.label if casualty.pedestrian_movement else '' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endif %}</td>
                        </tr>
                    {% endfor %}</tbody>
                </table>
            </td>
        </tr>
        {% endfor %}</tbody>
    </table>

    <section id="citations">
        <h2>References</h2>
        {% set citations = accident.all_citations or accident.citations.all() %}
        {% if citations %}
            <ul class="citations">{% for citation in citations %}
                {% include "icw/citation.html" %}
            {% endfor %}</ul>
        {% else %}
            <p>There aren't yet any references listed for this incident.</p>
            {% if not user.is_authenticated %}
                <p><a href="{{ login_url }}?next={{ request.build_absolute_uri() }}%23citations">Log in</a> to add links to news articles.</p>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            <form class="pure-form pure-form-stacked" method="post" action="{{ url('citation-create', accident_pk=accident.pk) }}">{% csrf_token %}
                <fieldset>
                    <legend>Add new reference</legend>
                    {% for field in citation_form %}
                        {{ field.label_tag() }}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </fieldset>
            </form>
        {% endif %}

    </section>
</div>
{% endblock %}
