{% extends "base.html" %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1">
            <h1>Incidents</h1>
        </div>
        <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-4-5">
            <p>{{ paginator.count }} incidents found</p>
            {% include "icw/pagination.html" -%}
            <table class="pure-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>When</th>
                    <th>Vehicles</th>
                    <th>Casualties</th>
                    <th>Severity</th>
                    <th>References?</th>
                </tr>
                </thead>
                <tbody>
                {% for accident in object_list -%}
                    <tr>
                        <td><a href="{{ url("accident-detail", accident.id) }}">{{ accident.id }}</a></td>
                        <td>{{ accident.dateTime if accident.dateTime else accident.date }}</td>
                        <td>{{ accident.number_of_vehicles }} {{ accident.vehicle_distribution.as_html|safe }}</td>
                        <td>{{ accident.number_of_casualties }} {{ accident.casualty_distribution.as_html|safe }}</td>
                        <td>{{ accident.severity.label }}</td>
                        <td>{{ 'yes' if accident.citations else 'no' }}</td>
                    </tr>
                {% endfor -%}
                </tbody>
            </table>
            {% include "icw/pagination.html" -%}
        </div>
        <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-5">

            <h2>Filter</h2>
            <form class="pure-form pure-form-stacked">
                {% for field in filter.form %}
                    <div>
                        {{ field.label_tag() }}
                        {{ field|add_class("pure-input-1") }}
                    </div>
                {% endfor %}
                <button type="submit" class="pure-button pure-button-primary">Filter</button>
            </form>

        </div>
    </div>
{% endblock %}
