{% extends "base.html" %}

{% block article %}

        <div class="pure-u-1-1">
            <div class="box-padding">
                <h1>Casualty distributions</h1>
            </div>
        </div>
        <p>{{ paginator.count }} casualty distributions found</p>
        {% include "icw/pagination.html" -%}
        <table class="pure-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Distribution</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            {% for casualty_distribution in object_list -%}
                <tr>
                    <td><a href="{{ url("accident-list") }}?casualty_distribution={{ casualty_distribution.id }}">{{ casualty_distribution.id }}</a></td>
                    <td>{{ casualty_distribution.as_html|safe }}</td>
                    <td>{{ casualty_distribution.count }}</td>
                </tr>
            {% endfor -%}
            </tbody>
        </table>
        {% include "icw/pagination.html" -%}
    </div>
{% endblock %}
