{% extends "base.html" %}
{% set title = "Caveats" %}
{% set description = "UK road traffic incident injury data and statistics, cross-linked to news articles" %}

{% block content %}
    <h1>Caveats</h1>

    <p>You should be aware of what follows below before making inferences from the data re-presented on this site.</p>

    <section>
    <h2>What limitations do these data have?</h2>

        <p>For greater detail, see page 22 onwards of
            <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/648081/rrcgb2016-01.pdf">the
                Reported Road Casualties 2016 Annual Report</a>.</p>

    <p>These data have the following known limitations:</p>

    <dl>
        <dt>Serious injuries are not comparable between 2016 and previous years</dt>
        <dd></dd>
        <dt>Slight injuries are understood to be under-reported</dt>
        <dd></dd>
    </dl>

    </section>

{% endblock %}