
/*
.vehicles {
    border-collapse: collapse;
}

.vehicles th, .vehicles td {
    padding: 0.3em;
}

.vehicles > tbody > tr.even {
    background-color: #ccf;
}

.vehicles > tbody > tr.odd {
    background-color: #ddf;
}
*/

.container .pure-table {
    margin-bottom: 1em;
}

.vehicle-type {
    text-align: center;
}

.vehicle-detail {
    max-width: 20em;
    vertical-align: top;
}

.vehicle-casualties table {
    background-color: #eef;
}


.vehicle-casualties td {
    padding-left: 2em;
}

.accident-map {
    height: 250px;
}

.icw-header {
    background-color: #017A4B;
    color: #ffffff;
}

.icw-header a {
    color: #ffffff;
}

.icw-header a.pure-menu-link {
    color: #B8E1D1;
}

table.pure-table.accident-detail {
    border: 0;
}

.casualty-severity-1 {
    color: #a00;
}

.casualty-severity-2 {
    color: #ff8000;
}

.casualty-severity-3 {
    color: #ffcc00;
}

.pagination {
    margin: 1em;
    text-align: center;
}

.footer {
    margin: 1em;
    text-align: center;
}

.footer a, .footer a:visited {
    color: inherit;
    text-decoration: none;
    margin: 0.5em;
}

.footer a.twitter {
    color: #55acee;
}

.footer a.github {
    color: #666666;
}

input[type='date'] {
    width: 8em;
}

.container {
    box-sizing: content-box;
    margin: 1em;
}

ul.citations {
    margin-left: 0;
    padding-left: 0;
}

ul.citations li {
    list-style: none;
}

.citations li {
    margin-top: 0.5em;
}

.citations li:first-child {
    margin-top: 0;
}

.citations li p {
    margin-top: 0;
    margin-bottom: 0;
}